@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #22222f;
  border-radius: 5px;
  width: 1px;
}

::-webkit-scrollbar-track {
  background: #16161f;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
